table(class="table table-hover table-condensed table-bordered")
  thead
    tr
      th(class="text-center" colspan="7") Información
      th(class="text-center" colspan="6") Composición
        button(class="btn btn-primary btn-xs" ng-click="modal.show()") Nuevo
    th(class="text-center col-md-2")
      p
        a(href="" ng-click="table.sorting.sort('nombre')") Nombre
      input(type="text" placeholder="Introduce un nombre para filtrar" ng-change="table.filtering.filter()" class="form-control table-input" ng-model="table.filtering.value.nombre" ng-model-options="{debounce: 150}")
    th(class="text-center col-md-2")
      p
        a(href="" ng-click="table.sorting.sort('familia')") Familia
      select(class="form-control table-input" ng-change="table.filtering.filter()" ng-options="familia._id as familia.nombre for familia in data.familias" ng-model="table.filtering.value.familia")
        option(selected value="") Todas  
    th(class="text-center") Un
    th(class="text-center") P
    th(class="text-center") % Cons
    th(class="text-center") Conv kg
    th(class="text-center")
      a(href="" ng-click="table.sorting.sort('precio')") Precio    
    th(class="text-center")
      a(href="" ng-click="table.sorting.sort('calorias')") Calorías    
    th(class="text-center")
      a(href="" ng-click="table.sorting.sort('carbohidratos')") C.Hidratos    
    th(class="text-center")
      a(href="" ng-click="table.sorting.sort('proteinas')") Proteínas    
    th(class="text-center")
      a(href="" ng-click="table.sorting.sort('grasas')") Grasas    
    th(class="text-center")
      p
        a(href="" ng-click="table.sorting.sort('alergeno')") Alérgenos
      select(class="form-control table-input" ng-change="table.filtering.filter()" ng-options="alergeno._id as alergeno.nombre for alergeno in data.alergenos" ng-model="table.filtering.value.alergenos")
        option(value="") Todos
    th(class="text-center")
      p
        a(href="" ng-click="table.sorting.sort('intolerancia')") Intolerancias
      select(class="form-control table-input" ng-change="table.filtering.filter()" ng-options="intolerancia._id as intolerancia.nombre for intolerancia in data.intolerancias" ng-model="table.filtering.value.intolerancias")
        option(value="") Todos

  tbody
    tr(dir-paginate="ingrediente in data.ingredientes | itemsPerPage: table.pagination.max track by ingrediente._id" total-items="data.totalIngredientes")     
      
      td(ng-click="ingrediente.$editNombre = true")
        span(ng-if="!ingrediente.$editNombre") {{::ingrediente.nombre}}
        div(ng-if="ingrediente.$editNombre")
          input(update-on-focus="$editNombre" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {nombre: ingrediente.nombre})" 
                class="form-control table-input" 
                placeholder="Nombre" 
                type="text" 
                ng-model="ingrediente.nombre")    
      
      td(ng-click="ingrediente.$editFamilia = true")
        span(ng-if="!ingrediente.$editFamilia") {{::ingrediente.familia.nombre}}
        div(ng-if="ingrediente.$editFamilia")
          select(update-on-focus="$editFamilia" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {familia: ingrediente.familia._id})" 
                class="form-control table-input" 
                ng-options="familia as familia.nombre for familia in data.familias track by familia.nombre" 
                ng-model="ingrediente.familia")
      
      td(ng-click="ingrediente.$editUnidad = true" class="text-center")
        span(ng-if="!ingrediente.$editUnidad") {{::ingrediente.unidad}}
        div(ng-if="ingrediente.$editUnidad")
          select(update-on-focus="$editUnidad" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {unidad: ingrediente.unidad})" 
                class="form-control table-input" 
                ng-model="ingrediente.unidad")    
            option(value="KG") KG
            option(value="LT") LT
            option(value="MAN") MAN
            option(value="UN") UN
   
      td(ng-click="ingrediente.$editPerecedero = true" class="text-center")
        span(ng-if="!ingrediente.$editPerecedero") {{::ingrediente.perecedero}}
        div(ng-if="ingrediente.$editPerecedero")
          select(update-on-focus="$editPerecedero" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="crudIngrediente.update($parent.ingredediente._id, {perecedero: ingrediente.perecedero})" 
                class="form-control table-input" 
                ng-model="ingrediente.perecedero")
            option(value="Si") Si
            option(value="No") No      
      
      td(ng-click="ingrediente.$editPcons = true" class="text-center")
        span(ng-if="!ingrediente.$editPcons") {{::ingrediente.pcons}}
        div(ng-if="ingrediente.$editPcons")
          input(update-on-focus="$editPcons" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="ingrediente.$editPcons = false; crudIngrediente.update($parent.ingrediente._id, {pcons: ingrediente.pcons})" 
                class="form-control table-input" 
                type="number" 
                ng-model="ingrediente.pcons")            
      
      td(ng-click="ingrediente.$editConversionKg = true" class="text-center")
        span(ng-if="!ingrediente.$editConversionKg") {{::ingrediente.conversionKg}}
        div(ng-if="ingrediente.$editConversionKg")
          input(update-on-focus="$editConversionKg" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {conversionKg: ingrediente.conversionKg})" 
                class="form-control table-input" 
                type="number" 
                ng-model="ingrediente.conversionKg")
      
      td(ng-click="ingrediente.$editPrecio = true" class="text-center")
        span(ng-if="!ingrediente.$editPrecio") {{::ingrediente.precio}}
        div(ng-if="ingrediente.$editPrecio")
          input(update-on-focus="$editPrecio" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {precio: ingrediente.precio})" 
                class="form-control table-input" 
                type="number" 
                ng-model="ingrediente.precio")            
      
      td(ng-click="ingrediente.$editCalorias = true" class="text-center")
        span(ng-if="!ingrediente.$editCalorias") {{::ingrediente.calorias}}
        div(ng-if="ingrediente.$editCalorias")
          input(update-on-focus="$editCalorias" 
                ng-model-options="{updateOn: 'blur'}" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {calorias: ingrediente.calorias})" 
                class="form-control table-input" 
                type="number" 
                ng-model="ingrediente.calorias")      
     
      td(ng-click="ingrediente.$editCarbohidratos = true" class="text-center")
        span(ng-if="!ingrediente.$editCarbohidratos") {{::ingrediente.carbohidratos}}
        div(ng-if="ingrediente.$editCarbohidratos")
          input(update-on-focus="$editCarbohidratos" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {carbohidratos: ingrediente.carbohidratos})" 
                ng-model-options="{updateOn: 'blur'}" 
                class="form-control table-input" 
                type="number" 
                ng-model="ingrediente.carbohidratos")      
      
      td(ng-click="ingrediente.$editProteinas = true" class="text-center")
        span(ng-if="!ingrediente.$editProteinas") {{::ingrediente.proteinas}}
        div(ng-if="ingrediente.$editProteinas")
          input(update-on-focus="$editProteinas" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {proteinas: ingrediente.proteinas})" 
                ng-model-options="{updateOn: 'blur'}" 
                class="form-control table-input" 
                type="number" 
                ng-model="ingrediente.proteinas")      
     
      td(ng-click="ingrediente.$editGrasas = true" class="text-center")
        span(ng-if="!ingrediente.$editGrasas") {{::ingrediente.grasas}}
        div(ng-if="ingrediente.$editGrasas")
          input(update-on-focus="$editGrasas" 
                ng-change="crudIngrediente.update($parent.ingrediente._id, {grasas: ingrediente.grasas})" 
                ng-model-options="{updateOn: 'blur'}" 
                class="form-control table-input" 
                type="number" 
                ng-model="ingrediente.grasas")
    
      td(ng-click="ingrediente.$editAlergenos = true")
        span(ng-if="!ingrediente.$editAlergenos") {{::objectArrayToString(ingrediente.alergenos, 'nombre')}}
        div(ng-if="ingrediente.$editAlergenos")     
          multiselector(selector-data="data.alergenos" selector-model="ingrediente.alergenos" selector-on-change="crudIngrediente.update(ingrediente._id, {alergenos: ingrediente.alergenos})" selector-on-blur="ingrediente.$editAlergenos = false" track-by="_id")
          
      td(ng-click="ingrediente.$editIntolerancias = true") 
        span(ng-if="!ingrediente.$editIntolerancias") {{::objectArrayToString(ingrediente.intolerancias, 'nombre')}}
        div(style="position: relative;" ng-if="ingrediente.$editIntolerancias")
          multiselector(selector-data="data.intolerancias" selector-model="ingrediente.intolerancias" selector-on-blur="ingrediente.$editIntolerancias = false;" selector-on-change="crudIngrediente.update($parent.ingrediente._id, {intolerancias: ingrediente.intolerancias})" track-by="_id")
div(class="text-center")
  dir-pagination-controls(on-page-change="table.pagination.getResultsPage(newPageNumber)")